.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

textarea {
    margin: 30px;
}

svg {
    border: 1px solid gray;
}

svg .bgyellow {
    background-color: yellow;
}
